<div class="row mb-2">
  <div class="col d-flex justify-content-center">
    <%= render 'bootstrap_md_editor/toolbar' %>
  </div>
</div>

<div class="row">
  <div  class="col">
    <%= render 'bootstrap_md_editor/text_area', form: form, field: field %>
  </div>
</div>
